html, body {
	height: 100vh;
	width: 100vw;
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Open Sans", sans-serif;
}

*, *:before, *:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border-radius: 0;
}

label[for="favcity"] {
	position: relative;
	display: block;
	width: 400px;
	overflow: hidden;
	cursor: pointer;
}

label[for="favcity"]::after {
	content: " ";
	position: absolute;
	right: 0;
	top: 0;
	width: 40px;
	height: 100%;
	display: block;
	background: #24d7ea
		url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAOBAMAAAGq7RFVAAAAJ1BMVEX///////////////////////////////////////////////////9Ruv0SAAAADHRSTlMACAoREoKDt7y9zc5qtZoyAAAAcklEQVQIHQXBsQnCUAAFwFOCCKbIABaWERzi1yaFAzmEpHYEC8GUKVQEkbyhvOOkZqdWt0/QYKqLzQeF7dv6y/RLwa2wYtk4Xxxe+t8yd1WuM/rcUc2gYHEeoP02umSgTR50ybBPRuiSZAS6ZAQ4jgCAPyjYJiRH4fymAAAAAElFTkSuQmCC")
		no-repeat center center;
	pointer-events: none;
}

label[for="favcity"] select {
	border: 5px solid #eeeeee;
	background: white;
	padding: 7px 20px 7px 20px;
	width: 100%;
	font-size: 16px;
	font-family: monospace;
	cursor: pointer;
}

label[for="favcity"] select::-ms-expand {
	display: none;
}

label[for="favcity"] :-moz-any(select) {
	width: 110%;
}

label[for="favcity"].ie9 select {
	width: 110%;
}

label[for="favcity"] select:focus {
	outline: 1px dotted #a9a9a9;
}

/*Button Style*/
button {
	padding: 15px 110px;
	background: #000;
	border: 0;
	color: #fff;
	text-transform: uppercase;
	font-family: helvetica;
	font-size: 12px;
	letter-spacing: 3px;
	position: relative;
	transition: all .4s cubic-bezier(0.645, 0.045, 0.355, 1);
	cursor: pointer;
	display: block;
	margin: 100px auto;
}

button::after, button::before {
	content: "";
	position: absolute;
	top: 50%;
	right: 0px;
	transform: translateY(-50%);
	opacity: 0;
	transition: all .4s cubic-bezier(0.645, 0.045, 0.355, 1);
}

button::after {
	width: 30px;
	height: 1px;
	background: white;
	transform: translateX(-3px);
	margin-top: 0px;
}

button::before {
	content: "";
	transform: rotate(-135deg) translateX(50%);
	width: 11px;
	height: 11px;
	background: transparent;
	border-left: 1px solid white;
	border-bottom: 1px solid white;
	margin-top: -1px;
}

button:hover {
	padding: 15px 60px 15px 20px;
}

button:hover::after, button:hover::before {
	opacity: 1;
	right: 15px;
}

/*Date Picker*/
.container-fluid {
	padding-top: 20px !important;
	padding-bottom: 40px !important
}

.card {
	box-shadow: 0px 4px 8px 0px #7986CB
}

input {
	padding: 5px 10px !important;
	border: 1px solid #000 !important;
	border-radius: 10px;
	box-sizing: border-box;
	background-color: #616161 !important;
	color: #fff !important;
	font-size: 16px;
	letter-spacing: 1px;
	width: 180px
}

input:focus {
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	border: 1px solid #512DA8;
	outline-width: 0
}

::placeholder {
	color: #fff;
	opacity: 1
}

:-ms-input-placeholder {
	color: #fff
}

::-ms-input-placeholder {
	color: #fff
}

button:focus {
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	outline-width: 0
}

.datepicker {
	background-color: #000 !important;
	color: #fff !important;
	border: none;
	padding: 10px !important
}

.datepicker-dropdown:after {
	border-bottom: 6px solid #000
}

thead tr:nth-child(3) th {
	color: #fff !important;
	font-weight: bold;
	padding-top: 20px;
	padding-bottom: 10px
}

.dow, .old-day, .day, .new-day {
	width: 40px !important;
	height: 40px !important;
	border-radius: 0px !important
}

.old-day:hover, .day:hover, .new-day:hover, .month:hover, .year:hover,
	.decade:hover, .century:hover {
	border-radius: 6px !important;
	background-color: #eee;
	color: #000
}

.active {
	border-radius: 6px !important;
	background-image: linear-gradient(#90CAF9, #64B5F6) !important;
	color: #000 !important
}

.disabled {
	color: #616161 !important
}

.prev, .next, .datepicker-switch {
	border-radius: 0 !important;
	padding: 20px 10px !important;
	text-transform: uppercase;
	font-size: 20px;
	color: #fff !important;
	opacity: 0.8
}

.prev:hover, .next:hover, .datepicker-switch:hover {
	background-color: inherit !important;
	opacity: 1
}

.cell {
	border: 1px solid #BDBDBD;
	margin: 2px;
	cursor: pointer
}

.cell:hover {
	border: 1px solid #3D5AFE
}

.cell.select {
	background-color: #3D5AFE;
	color: #fff
}

.fa-calendar {
	color: #fff;
	font-size: 30px;
	padding-top: 8px;
	padding-left: 5px;
	cursor: pointer
}